//.cube-popup-container {
//  .cube-popup-content {
//      &::after{
//          content: "选人";
//      }
//  }
//}

@import '@/lib/reset.scss';

.oipt{
    width: 6rem;
    height: 1rem;
    position: fixed;
    margin: 0 auto;
    left: 10%;
    bottom:6.3rem;
    z-index: 1000;
    padding: 0 0 0 .2rem;
}
