//.cube-popup-container {
//  .cube-popup-content {
//      &::after{
//          content: "选人";
//      }
//  }
//}
.detail_content_main{
    height: 100%;
}
.detail_content {
    overflow-y: auto;
    height: 100%;
}
.querydetail_header{
    width: 100%;
    height: 1rem;
    background: dodgerblue;
    
}
